<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/master.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class=''>
    <div class="container-fluid">
        {% include 'blog/navbar.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %}{% endblock msg %}
            </div>
        </div>
    </div>
    <div class="row">
        {% block side %}
        {% endblock side %}
        
        {% block content %}
        {% endblock content %}
    </div>
</body>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/jQuery.js' %}"></script>
<script src="{% static 'blog/js/popper.js' %}"></script>
</html>