{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Signup{% endblock title %}
{% block msg %}{% if messages %}
{% for message in messages %}
<span {% if message.tags %} class='text-{{message.tags}} ms-3'{% endif %}>{{message}}</span>
{% endfor %}
{% endif %}{% endblock msg %}
{% block content %}
<div class="container mt-4 w-50">
    <div class='my-2 mb-3'>
        <h1 class='bb' style='display:inline'>Register</h1>
    </div>
    <form action="{% url 'blog:signup' %}" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Register" class='btn btn-outline-warning mt-3'>
    </form>
</div>
{% endblock content %}